<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Teams</key>
	<array>
		<dict>
			<key>Name</key>
			<string>Diamondbacks</string>
			<key>Abbreviation</key>
			<string>ARI</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>Braves</string>
			<key>Abbreviation</key>
			<string>ATL</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>Orioles</string>
			<key>Abbreviation</key>
			<string>BAL</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>Red Sox</string>
			<key>Abbreviation</key>
			<string>BOS</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>White Sox</string>
			<key>Abbreviation</key>
			<string>CWS</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>Cubs</string>
			<key>Abbreviation</key>
			<string>CHC</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>Reds</string>
			<key>Abbreviation</key>
			<string>CIN</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>Indians</string>
			<key>Abbreviation</key>
			<string>CLE</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>Rockies</string>
			<key>Abbreviation</key>
			<string>COL</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>Tigers</string>
			<key>Abbreviation</key>
			<string>DET</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>Marlins</string>
			<key>Abbreviation</key>
			<string>MIA</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>Astros</string>
			<key>Abbreviation</key>
			<string>HOU</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>Royals</string>
			<key>Abbreviation</key>
			<string>KC</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>Angels</string>
			<key>Abbreviation</key>
			<string>LAA</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>Dodgers</string>
			<key>Abbreviation</key>
			<string>LAD</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>Brewers</string>
			<key>Abbreviation</key>
			<string>MIL</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>Twins</string>
			<key>Abbreviation</key>
			<string>MIN</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>Mets</string>
			<key>Abbreviation</key>
			<string>NYM</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>Yankees</string>
			<key>Abbreviation</key>
			<string>NYY</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>Athletics</string>
			<key>Abbreviation</key>
			<string>OAK</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>Phillies</string>
			<key>Abbreviation</key>
			<string>PHI</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>Padres</string>
			<key>Abbreviation</key>
			<string>SD</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>Giants</string>
			<key>Abbreviation</key>
			<string>SF</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>Mariners</string>
			<key>Abbreviation</key>
			<string>SEA</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>Cardinals</string>
			<key>Abbreviation</key>
			<string>STL</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>Rays</string>
			<key>Abbreviation</key>
			<string>TB</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>Rangers</string>
			<key>Abbreviation</key>
			<string>TEX</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>Blue Jays</string>
			<key>Abbreviation</key>
			<string>TOR</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>Nationals</string>
			<key>Abbreviation</key>
			<string>WSH</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>Pirates</string>
			<key>Abbreviation</key>
			<string>PIT</string>
		</dict>
	</array>
</dict>
</plist>
